<%- include('../variables/header.ejs') %> <%-
include('../variables/boilerplate.ejs') %>

    <% if(categories != null) { %> <% categories.forEach(function(article,
    index) { %>
      <div class="flexboxs">
          <div class="man">
             <h1><%- article.title %></h1>
          <div class="image">
             <img src="<%- article.image %>" alt="">  
          </div>

       </div>
       <div class="texts">
          <div class="texts-1">
             <h1>Description</h1>
             <p>By <%- article.author %></p>
             <p><%- article.description %></p>
          </div> 
          <div class="texts-2">
            <a href="<%- article.url %>"><button>Read More</button></a>
          </div>
       </div>
    </div>
    <% }) %> <% } else { %> No posts found. <% } %>
 
<%- include('../variables/footer.ejs') %>
