<%- include('./variables/boilerplate.ejs') %> <%- include('./variables/header.ejs')
%>
<!--
<div class="containessr">
  <div class="textss-wrapper">
    <div class="text-1 text">YURIKAZA NEWS</div>
    <div class="text-2 text">YURIKAZA NEWS</div>
    <div class="text-3 text">YURIKAZA NEWS</div>
    <div class="text-4 text">YURIKAZA NEWS</div>
    <div class="text-5 text">YURIKAZA NEWS</div>
    <div class="text-6 text">YURIKAZA NEWS</div>
    <div class="text-7 text">YURIKAZA NEWS</div>
    <div class="text-8 text">YURIKAZA NEWS</div>
    <div class="text-9 text">YURIKAZA NEWS</div>
    <div class="text-10 text">YURIKAZA NEWS</div>
    <div class="text-11 text">YURIKAZA NEWS</div>
  </div>
</div>-->
    <% if(articles != null) { %> <% articles.forEach(function(article, index) {
    %>
    <div class="flexboxs">
          <div class="man">
             <h1><%- article.title %></h1>
          <div class="image">
             <img src="<%- article.image %>" alt="">  
          </div>

       </div>
       <div class="texts">
          <div class="texts-1">
             <h1>Description</h1>
             <p>By <%- article.author %></p>
             <p><%- article.description %></p>
          </div> 
          <div class="texts-2">
               <a href="<%- article.url %>"><button>Read More</button></a>
          </div>
       </div>
    </div>
    <% }) %> <% } else { %> No posts found. <% } %>
<%- include('./variables/footer.ejs') %>
